.user__container {
  width: 100%;
  height: 100vh;
  font-family: $font;
  &__header {
    width: 100%;
    height: 15.8vh;
    background-color: $purple;
    color: #fff;
    display: flex;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0 0 4px 4px;
    padding: 1.2rem 2.9rem;
    &__wrapper {
      .user__container__header__title {
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 1.3;
      }
      .user__container__header__description {
        font-size: 1.2rem;
        opacity: 0.8;
      }
    }
  }
  &__body {
    padding: 1.1rem 2.9rem;
    position: relative;
    .loadingBackground {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10000;
      backdrop-filter: blur(2px);
      background-color: rgba(0, 0, 0, 0.623);
    }
    .user__container__body-main-line {
      width: 100%;
      height: 1px;
      margin-top: -1rem;
      background-color: rgb(204, 204, 204);
    }
    .row--header {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    .row--single {
      padding: 0 0;
      .user__container__body-main {
        .form-group {
          margin-bottom: 0 !important;
        }
        &__errorMessage {
          bottom: -10%;
          transform: translateY(50%);
        }
      }
    }
    .row--multi {
      padding: 1.1rem 0;
      & .user__container__body-main__errorMessage {
        bottom: 0%;
        transform: translateY(50%);
      }
    }
    .row,
    .row--single {
      .user__container__body__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .user__container__body__header-img-container {
          position: relative;
          .user__container__body__header-img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            z-index: 1;
          }
          .user__container__body__header-subimg {
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            right: 0;
            top: 0;
            transform: translate(40%, -40%);
            transition: all 0.35s;
            &:hover {
              cursor: pointer;
              box-shadow: 0 2px 4px #aaa;
              transform: perspective(1000px) translate(40%, -50%);
            }
          }
        }

        .user__container__body__header-name {
          color: $purple;
          font-size: 3.1rem;
          font-weight: 700;
          margin-left: 2.4rem;
          letter-spacing: 0.2px;
        }
      }
      .user__container__body-main-description {
        font-size: 1.7rem;
        font-weight: 500;
        color: #bfc2d3;
        margin-top: 2.2rem;
        margin-left: 0.5rem;
        margin-bottom: 2.1rem;
      }
      .user__container__body-main {
        position: relative;
        &__errorMessage {
          position: absolute;
          left: 10%;
          // bottom: -5%;
          color: $pink;
          font-size: 1rem;
        }
        .form-group {
          position: relative;
          width: 100%;
          padding: 1.4rem 0;
          .form-control {
            color: #212020;
            font-weight: 700;
            font-size: 1.2rem;
            padding: 1.2rem 1.6rem;
            border-radius: 4px;
            position: relative;
            border: solid 1.2px rgba(33, 32, 32, 0.541);
            &:focus {
              outline: none;
              box-shadow: none !important;
            }
            // &:focus ~ & .form-control__floating-label {
            //   transform: translate(-50%, -100%);
            // }
          }
          .form-control__floating-label {
            position: absolute;
            top: 50%;
            padding: 0 0.6rem;
            font-size: 1.4rem;
            font-weight: 500;
            left: 3%;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.26);
            transform: translate(0, -50%);
            color: #212020;
            transition: all 0.4s;
            opacity: 0.5;
          }
          .form-group-rearSvg {
            position: absolute;
            top: 50%;
            right: 4%;
            transform: translateY(-50%);
            &:hover {
              cursor: pointer;
            }
          }
        }
        .form-group--active {
          .form-control__floating-label {
            top: 0.5rem;
            left: 1rem;
            font-size: 1.4rem;
            transform: translate(0, 0);
            background-color: #fff;
            opacity: 1;
          }
        }
      }
      .login-body-btn-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        .nav-link {
          padding-top: 1.2rem;
          padding-bottom: 1.2rem;
          font-size: 1.6rem;
          font-weight: 600;
          border-radius: 32rem;
          text-align: center;
          &:nth-child(2) {
            margin: 0;
          }
        }
        .nav-link-btn {
          color: #fff;
          background-color: $pink;
          padding-left: 3rem;
          padding-right: 3rem;
        }
        .nav-link-custom {
          padding-left: 3.5rem;
          padding-right: 3.5rem;
          border: 1.8px solid $pink;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .user__container {
    > .user__container__header {
      padding: 1.2rem 9.2rem;
      line-height: 2.3;
      .user__container__header__wrapper {
        .user__container__header__title {
          font-size: 3.1rem;
        }
        .user__container__header__description {
          font-size: 1.7rem;
        }
      }
    }
    > .user__container__body {
      padding: 1.2rem 9.2rem;
      .row--single {
        & .user__container__body-main__errorMessage {
          bottom: -10%;
          transform: translateY(50%);
        }
      }
      .row--multi {
        & .user__container__body-main__errorMessage {
          bottom: 0%;
          transform: translateY(50%);
        }
      }
      & .user__container__body-main__errorMessage {
        position: absolute;
        left: 5%;
        color: $pink;
        font-size: 1.6rem;
      }
      .user__container__body-main {
        .form-group {
          width: 100%;
          padding: 1.6rem 0;
          .form-control {
            font-size: 1.6rem;
            padding: 1.6rem 1rem;
          }
        }
        .form-group--active {
          .form-control__floating-label {
            top: 0;
            left: 1.3rem;
            padding: 0 1rem;
            font-size: 1.6rem;
            transform: translate(0, 0.5rem);
            background-color: #fff;
            opacity: 1;
          }
        }
      }
      & .login-body-btn-group {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .nav-link {
          font-size: 1.6rem;
          &:nth-child(2) {
            margin: 0 3rem;
          }
        }
        .nav-link-btn {
          padding-left: 4rem;
          padding-right: 4rem;
        }
        .nav-link-custom {
          padding-left: 4.5rem;
          padding-right: 4.5rem;
        }
      }
    }
    > .user__container__body__header-name {
      font-size: 4;
    }
  }
}
