@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
.auth {
  padding: 8rem 6rem;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth .auth__container .auth__container__left {
  width: 100%;
}

.auth .auth__container .auth__container__right {
  display: none;
}

@media screen and (min-width: 900px) {
  .auth .auth__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .auth .auth__container .auth__container__left {
    width: 55%;
    margin-left: 9.8rem;
  }
  .auth .auth__container .auth__container__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .auth .auth__container .auth__container__right .auth__container__right-img {
    width: 80%;
  }
}

.user__container {
  width: 100%;
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

.user__container__header {
  width: 100%;
  height: 15.8vh;
  background-color: #4d0c5a;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 4px 4px;
  padding: 1.2rem 2.9rem;
}

.user__container__header__wrapper .user__container__header__title {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.3;
}

.user__container__header__wrapper .user__container__header__description {
  font-size: 1.2rem;
  opacity: 0.8;
}

.user__container__body {
  padding: 1.1rem 2.9rem;
  position: relative;
}

.user__container__body .loadingBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.623);
}

.user__container__body .user__container__body-main-line {
  width: 100%;
  height: 1px;
  margin-top: -1rem;
  background-color: #cccccc;
}

.user__container__body .row--header {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.user__container__body .row--single {
  padding: 0 0;
}

.user__container__body .row--single .user__container__body-main .form-group {
  margin-bottom: 0 !important;
}

.user__container__body .row--single .user__container__body-main__errorMessage {
  bottom: -10%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.user__container__body .row--multi {
  padding: 1.1rem 0;
}

.user__container__body .row--multi .user__container__body-main__errorMessage {
  bottom: 0%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.user__container__body .row .user__container__body__header,
.user__container__body .row--single .user__container__body__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__container__body .row .user__container__body__header .user__container__body__header-img-container,
.user__container__body .row--single .user__container__body__header .user__container__body__header-img-container {
  position: relative;
}

.user__container__body .row .user__container__body__header .user__container__body__header-img-container .user__container__body__header-img,
.user__container__body .row--single .user__container__body__header .user__container__body__header-img-container .user__container__body__header-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 1;
}

.user__container__body .row .user__container__body__header .user__container__body__header-img-container .user__container__body__header-subimg,
.user__container__body .row--single .user__container__body__header .user__container__body__header-img-container .user__container__body__header-subimg {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 0;
  top: 0;
  -webkit-transform: translate(40%, -40%);
          transform: translate(40%, -40%);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.user__container__body .row .user__container__body__header .user__container__body__header-img-container .user__container__body__header-subimg:hover,
.user__container__body .row--single .user__container__body__header .user__container__body__header-img-container .user__container__body__header-subimg:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 4px #aaa;
          box-shadow: 0 2px 4px #aaa;
  -webkit-transform: perspective(1000px) translate(40%, -50%);
          transform: perspective(1000px) translate(40%, -50%);
}

.user__container__body .row .user__container__body__header .user__container__body__header-name,
.user__container__body .row--single .user__container__body__header .user__container__body__header-name {
  color: #4d0c5a;
  font-size: 3.1rem;
  font-weight: 700;
  margin-left: 2.4rem;
  letter-spacing: 0.2px;
}

.user__container__body .row .user__container__body-main-description,
.user__container__body .row--single .user__container__body-main-description {
  font-size: 1.7rem;
  font-weight: 500;
  color: #bfc2d3;
  margin-top: 2.2rem;
  margin-left: 0.5rem;
  margin-bottom: 2.1rem;
}

.user__container__body .row .user__container__body-main,
.user__container__body .row--single .user__container__body-main {
  position: relative;
}

.user__container__body .row .user__container__body-main__errorMessage,
.user__container__body .row--single .user__container__body-main__errorMessage {
  position: absolute;
  left: 10%;
  color: #bd10e0;
  font-size: 1rem;
}

.user__container__body .row .user__container__body-main .form-group,
.user__container__body .row--single .user__container__body-main .form-group {
  position: relative;
  width: 100%;
  padding: 1.4rem 0;
}

.user__container__body .row .user__container__body-main .form-group .form-control,
.user__container__body .row--single .user__container__body-main .form-group .form-control {
  color: #212020;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1.2rem 1.6rem;
  border-radius: 4px;
  position: relative;
  border: solid 1.2px rgba(33, 32, 32, 0.541);
}

.user__container__body .row .user__container__body-main .form-group .form-control:focus,
.user__container__body .row--single .user__container__body-main .form-group .form-control:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.user__container__body .row .user__container__body-main .form-group .form-control__floating-label,
.user__container__body .row--single .user__container__body-main .form-group .form-control__floating-label {
  position: absolute;
  top: 50%;
  padding: 0 0.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  left: 3%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.26);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #212020;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0.5;
}

.user__container__body .row .user__container__body-main .form-group .form-group-rearSvg,
.user__container__body .row--single .user__container__body-main .form-group .form-group-rearSvg {
  position: absolute;
  top: 50%;
  right: 4%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.user__container__body .row .user__container__body-main .form-group .form-group-rearSvg:hover,
.user__container__body .row--single .user__container__body-main .form-group .form-group-rearSvg:hover {
  cursor: pointer;
}

.user__container__body .row .user__container__body-main .form-group--active .form-control__floating-label,
.user__container__body .row--single .user__container__body-main .form-group--active .form-control__floating-label {
  top: 0.5rem;
  left: 1rem;
  font-size: 1.4rem;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  background-color: #fff;
  opacity: 1;
}

.user__container__body .row .login-body-btn-group,
.user__container__body .row--single .login-body-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.user__container__body .row .login-body-btn-group .nav-link,
.user__container__body .row--single .login-body-btn-group .nav-link {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 32rem;
  text-align: center;
}

.user__container__body .row .login-body-btn-group .nav-link:nth-child(2),
.user__container__body .row--single .login-body-btn-group .nav-link:nth-child(2) {
  margin: 0;
}

.user__container__body .row .login-body-btn-group .nav-link-btn,
.user__container__body .row--single .login-body-btn-group .nav-link-btn {
  color: #fff;
  background-color: #bd10e0;
  padding-left: 3rem;
  padding-right: 3rem;
}

.user__container__body .row .login-body-btn-group .nav-link-custom,
.user__container__body .row--single .login-body-btn-group .nav-link-custom {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  border: 1.8px solid #bd10e0;
}

@media screen and (min-width: 900px) {
  .user__container > .user__container__header {
    padding: 1.2rem 9.2rem;
    line-height: 2.3;
  }
  .user__container > .user__container__header .user__container__header__wrapper .user__container__header__title {
    font-size: 3.1rem;
  }
  .user__container > .user__container__header .user__container__header__wrapper .user__container__header__description {
    font-size: 1.7rem;
  }
  .user__container > .user__container__body {
    padding: 1.2rem 9.2rem;
  }
  .user__container > .user__container__body .row--single .user__container__body-main__errorMessage {
    bottom: -10%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .user__container > .user__container__body .row--multi .user__container__body-main__errorMessage {
    bottom: 0%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .user__container > .user__container__body .user__container__body-main__errorMessage {
    position: absolute;
    left: 5%;
    color: #bd10e0;
    font-size: 1.6rem;
  }
  .user__container > .user__container__body .user__container__body-main .form-group {
    width: 100%;
    padding: 1.6rem 0;
  }
  .user__container > .user__container__body .user__container__body-main .form-group .form-control {
    font-size: 1.6rem;
    padding: 1.6rem 1rem;
  }
  .user__container > .user__container__body .user__container__body-main .form-group--active .form-control__floating-label {
    top: 0;
    left: 1.3rem;
    padding: 0 1rem;
    font-size: 1.6rem;
    -webkit-transform: translate(0, 0.5rem);
            transform: translate(0, 0.5rem);
    background-color: #fff;
    opacity: 1;
  }
  .user__container > .user__container__body .login-body-btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .user__container > .user__container__body .login-body-btn-group .nav-link {
    font-size: 1.6rem;
  }
  .user__container > .user__container__body .login-body-btn-group .nav-link:nth-child(2) {
    margin: 0 3rem;
  }
  .user__container > .user__container__body .login-body-btn-group .nav-link-btn {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .user__container > .user__container__body .login-body-btn-group .nav-link-custom {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
  .user__container > .user__container__body__header-name {
    font-size: 4;
  }
}

.login {
  font-family: "Raleway", sans-serif;
  color: #000;
}

.login .loadingBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.623);
}

.login .login-header {
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
  line-height: 2;
}

.login .login-body {
  width: 100%;
}

.login .login-body .checkbox-container {
  max-width: 13rem;
  font-size: 1.4rem;
  text-align: center;
}

.login .login-body .checkbox-container [type="checkbox"] {
  vertical-align: middle;
  width: 1.4rem;
  height: 1.4rem;
}

.login .login-body .checkbox-container label {
  font-weight: 600;
  color: #6b6c6f;
  margin-left: 1rem;
}

.login .login-body .form-container {
  position: relative;
}

.login .login-body .form-container .form-group {
  font-size: 1rem;
  margin: 1.3rem 0;
}

.login .login-body .form-container .form-group .login-body-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

.login .login-body .form-container .form-group label {
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #6b6c6f;
  font-weight: 700;
  margin-left: 1rem;
}

.login .login-body .form-container .form-group .email-group,
.login .login-body .form-container .form-group .password-group,
.login .login-body .form-container .form-group .conPassword-group,
.login .login-body .form-container .form-group .fullName-group,
.login .login-body .form-container .form-group .phoneNumber-group {
  position: relative;
}

.login .login-body .form-container .form-group .email-group .email-group--valid,
.login .login-body .form-container .form-group .email-group .password-group--valid,
.login .login-body .form-container .form-group .email-group .conPassword-group--valid,
.login .login-body .form-container .form-group .email-group .fullName-group--valid,
.login .login-body .form-container .form-group .email-group .phoneNumber-group--valid,
.login .login-body .form-container .form-group .password-group .email-group--valid,
.login .login-body .form-container .form-group .password-group .password-group--valid,
.login .login-body .form-container .form-group .password-group .conPassword-group--valid,
.login .login-body .form-container .form-group .password-group .fullName-group--valid,
.login .login-body .form-container .form-group .password-group .phoneNumber-group--valid,
.login .login-body .form-container .form-group .conPassword-group .email-group--valid,
.login .login-body .form-container .form-group .conPassword-group .password-group--valid,
.login .login-body .form-container .form-group .conPassword-group .conPassword-group--valid,
.login .login-body .form-container .form-group .conPassword-group .fullName-group--valid,
.login .login-body .form-container .form-group .conPassword-group .phoneNumber-group--valid,
.login .login-body .form-container .form-group .fullName-group .email-group--valid,
.login .login-body .form-container .form-group .fullName-group .password-group--valid,
.login .login-body .form-container .form-group .fullName-group .conPassword-group--valid,
.login .login-body .form-container .form-group .fullName-group .fullName-group--valid,
.login .login-body .form-container .form-group .fullName-group .phoneNumber-group--valid,
.login .login-body .form-container .form-group .phoneNumber-group .email-group--valid,
.login .login-body .form-container .form-group .phoneNumber-group .password-group--valid,
.login .login-body .form-container .form-group .phoneNumber-group .conPassword-group--valid,
.login .login-body .form-container .form-group .phoneNumber-group .fullName-group--valid,
.login .login-body .form-container .form-group .phoneNumber-group .phoneNumber-group--valid {
  -webkit-box-shadow: 0 0 7px 1px #d69cf8;
          box-shadow: 0 0 7px 1px #d69cf8;
}

.login .login-body .form-container .form-group .email-group .form-control,
.login .login-body .form-container .form-group .password-group .form-control,
.login .login-body .form-container .form-group .conPassword-group .form-control,
.login .login-body .form-container .form-group .fullName-group .form-control,
.login .login-body .form-container .form-group .phoneNumber-group .form-control {
  overflow: hidden;
  padding: 0.9rem 4rem;
  border-radius: 22px;
  font-weight: 700;
  font-size: 1.6rem;
  border: 1.2px solid #dfe2e6;
}

.login .login-body .form-container .form-group .email-group .form-control::-webkit-input-placeholder,
.login .login-body .form-container .form-group .password-group .form-control::-webkit-input-placeholder,
.login .login-body .form-container .form-group .conPassword-group .form-control::-webkit-input-placeholder,
.login .login-body .form-container .form-group .fullName-group .form-control::-webkit-input-placeholder,
.login .login-body .form-container .form-group .phoneNumber-group .form-control::-webkit-input-placeholder {
  font-size: 1.4rem;
  color: #e1e4e8;
  font-weight: 400;
}

.login .login-body .form-container .form-group .email-group .form-control:-ms-input-placeholder,
.login .login-body .form-container .form-group .password-group .form-control:-ms-input-placeholder,
.login .login-body .form-container .form-group .conPassword-group .form-control:-ms-input-placeholder,
.login .login-body .form-container .form-group .fullName-group .form-control:-ms-input-placeholder,
.login .login-body .form-container .form-group .phoneNumber-group .form-control:-ms-input-placeholder {
  font-size: 1.4rem;
  color: #e1e4e8;
  font-weight: 400;
}

.login .login-body .form-container .form-group .email-group .form-control::-ms-input-placeholder,
.login .login-body .form-container .form-group .password-group .form-control::-ms-input-placeholder,
.login .login-body .form-container .form-group .conPassword-group .form-control::-ms-input-placeholder,
.login .login-body .form-container .form-group .fullName-group .form-control::-ms-input-placeholder,
.login .login-body .form-container .form-group .phoneNumber-group .form-control::-ms-input-placeholder {
  font-size: 1.4rem;
  color: #e1e4e8;
  font-weight: 400;
}

.login .login-body .form-container .form-group .email-group .form-control::placeholder,
.login .login-body .form-container .form-group .password-group .form-control::placeholder,
.login .login-body .form-container .form-group .conPassword-group .form-control::placeholder,
.login .login-body .form-container .form-group .fullName-group .form-control::placeholder,
.login .login-body .form-container .form-group .phoneNumber-group .form-control::placeholder {
  font-size: 1.4rem;
  color: #e1e4e8;
  font-weight: 400;
}

.login .login-body .form-container .form-group .email-group .form-group-frontSvg,
.login .login-body .form-container .form-group .password-group .form-group-frontSvg,
.login .login-body .form-container .form-group .conPassword-group .form-group-frontSvg,
.login .login-body .form-container .form-group .fullName-group .form-group-frontSvg,
.login .login-body .form-container .form-group .phoneNumber-group .form-group-frontSvg {
  position: absolute;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.login .login-body .form-container .form-group .email-group .form-group-rearSvg,
.login .login-body .form-container .form-group .password-group .form-group-rearSvg,
.login .login-body .form-container .form-group .conPassword-group .form-group-rearSvg,
.login .login-body .form-container .form-group .fullName-group .form-group-rearSvg,
.login .login-body .form-container .form-group .phoneNumber-group .form-group-rearSvg {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 4%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.login .login-body .form-container .form-group .email-group .form-group-rearSvg:hover,
.login .login-body .form-container .form-group .password-group .form-group-rearSvg:hover,
.login .login-body .form-container .form-group .conPassword-group .form-group-rearSvg:hover,
.login .login-body .form-container .form-group .fullName-group .form-group-rearSvg:hover,
.login .login-body .form-container .form-group .phoneNumber-group .form-group-rearSvg:hover {
  cursor: pointer;
}

.login .login-body .form-container > .errorMessage {
  position: absolute;
  color: #e71717;
  bottom: -2.6rem;
  left: 10%;
  font-weight: 500;
  font-size: 1.2rem;
}

.login .login-body .login-body-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.1rem 0;
}

.login .login-body .login-body-btn-group .nav-link {
  width: 45%;
  padding: 0.9rem 6.2rem;
  border-radius: 22rem;
  font-weight: 700;
  text-align: center;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .login-body .login-body-btn-group .nav-link-custom {
  color: #bd10e0;
  border: 0.2rem solid #bd10e0;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.login .login-body .login-body-btn-group .nav-link-custom:hover {
  color: #fff;
  background-color: #bd10e0;
}

.login .login-body .login-body-btn-group .nav-link-custom:hover ~ .nav-link-btn {
  color: #bd10e0;
  border: 0.2rem solid #bd10e0;
  background-color: #fff;
}

.login .login-body .login-body-btn-group .nav-link-btn {
  color: #fff;
  background-color: #bd10e0;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.login .login-body .login-body-btn-group .nav-link-btn:hover {
  -webkit-transform: perspective(1000px) translateY(-2px);
          transform: perspective(1000px) translateY(-2px);
  -webkit-box-shadow: 0 5px 10px #979797;
          box-shadow: 0 5px 10px #979797;
}

.login .login-body .login-body-btn-group .nav-link-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.login .login-body .login-body-btn-group .nav-link-btn:hover::before {
  left: 100%;
}

@media screen and (min-width: 900px) {
  .login > .login-header {
    font-size: 2.4rem;
  }
  .login > .form-group {
    font-size: 1.4rem;
  }
  .login > .nav-link {
    font-size: 1.4rem;
  }
}

.logo .logo-img {
  width: 75%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.logo .logo-img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.logo .logo-title {
  text-transform: uppercase;
  line-height: 1;
  font-size: 0.9rem;
  margin-top: 2.2rem;
  font-weight: 700;
  color: #6b6c6f;
}

@media screen and (min-width: 900px) {
  .logo .logo-title {
    line-height: 2;
    font-size: 1.1rem;
  }
}

.Toastify__toast-container .Toastify__toast {
  padding: 1.4rem 1.4rem;
  border-radius: 0.4rem;
  min-width: 10rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(16%, #e010cd), color-stop(40%, #9a00ff), to(#7000b9));
  background: linear-gradient(90deg, #e010cd 16%, #9a00ff 40%, #7000b9 100%);
  -webkit-box-shadow: 0 5px 15px #777;
          box-shadow: 0 5px 15px #777;
}

.Toastify__toast-container .Toastify__toast .Toastify__toast-body {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.Toastify__toast-container .Toastify__toast--error {
  background: -webkit-gradient(linear, left top, right top, from(#ff00d7), color-stop(50%, #e01010), to(#e6007c));
  background: linear-gradient(90deg, #ff00d7 0%, #e01010 50%, #e6007c 100%);
}

@media screen and (min-width: 900px) {
  .Toastify__toast-container .Toastify__toast {
    padding: 1.4rem 1.6rem;
    border-radius: 0.4rem;
    min-width: 40rem;
    background: -webkit-gradient(linear, left top, right top, color-stop(16%, #e010cd), color-stop(40%, #9a00ff), to(#7000b9));
    background: linear-gradient(90deg, #e010cd 16%, #9a00ff 40%, #7000b9 100%);
    -webkit-box-shadow: 0 5px 15px #777;
            box-shadow: 0 5px 15px #777;
  }
  .Toastify__toast-container .Toastify__toast .Toastify__toast-body {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
  }
  .Toastify__toast-container .Toastify__toast--error {
    background: -webkit-gradient(linear, left top, right top, from(#ff00d7), color-stop(50%, #e01010), to(#e6007c));
    background: linear-gradient(90deg, #ff00d7 0%, #e01010 50%, #e6007c 100%);
  }
}

.custom-modal {
  font-family: "Raleway", sans-serif;
}

.custom-modal .modal-content {
  border-radius: 0.5rem;
}

.custom-modal__header__title {
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
}

.custom-modal__body {
  padding: 1.5rem 2rem;
  min-height: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-modal__body__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-modal__body__container .dropzone {
  outline: none;
  max-height: 22rem;
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-modal__body__container .dropzone:hover {
  cursor: pointer;
}

.custom-modal__body__container .dropzone__img {
  width: 55px;
  height: 55px;
  opacity: 0.5;
}

.custom-modal__body__container .dropzone p {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

.custom-modal__body__container .dropzone--active {
  border: 2px solid #555;
  -webkit-box-shadow: 0 2px 10px 1px rgba(77, 12, 90, 0.5);
          box-shadow: 0 2px 10px 1px rgba(77, 12, 90, 0.5);
}

.custom-modal__body__container .dropzone--inactive {
  border: 2px dashed #ddd;
}

.custom-modal__body__container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  padding: 0.6rem 4rem;
  font-size: 1.6rem;
  background: #bd10e0;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-radius: 22rem;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    color: #aaa;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    color: #000;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    color: #aaa;
  }
}

@keyframes float {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    color: #aaa;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    color: #000;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    color: #aaa;
  }
}

.notfound-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 18rem;
  font-weight: 900;
  color: #bd10e0;
  width: 100%;
  height: 100vh;
  text-transform: uppercase;
}

.notfound-layout__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notfound-layout__container .btn {
  background: #bd10e0;
  padding: 1.2rem 2.5rem;
  border-radius: 22rem;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

@media screen and (min-width: 900px) {
  /* section {
      padding: 7.9rem;
    } */
}
/*# sourceMappingURL=index.css.map */