@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
@import "./variable";
@import "./authLayout";
@import "./userLayout";
@import "./login";
@import "./logo";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: $font;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

@media screen and (min-width: 900px) {
  /* section {
      padding: 7.9rem;
    } */
}
