@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
.auth {
  padding: 8rem 6rem;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth .auth-container .auth-container-left {
  width: 100%;
}

.auth .auth-container .auth-container-right {
  display: none;
}

@media screen and (min-width: 900px) {
  .auth .auth-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .auth .auth-container .auth-container-left {
    width: 55%;
    margin-left: 9.8rem;
  }
  .auth .auth-container .auth-container-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .auth .auth-container .auth-container-right .auth-container-right-img {
    width: 80%;
  }
}

.user-container {
  width: 100%;
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

.user-container .user-container-header {
  width: 100%;
  height: 16vh;
  background-color: #4d0c5a;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 4px 4px;
  padding: 1.2rem 2.9rem;
}

.user-container .user-container-header .user-container-header-wrapper .user-container-header-title {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.3;
}

.user-container .user-container-header .user-container-header-wrapper .user-container-header-description {
  font-size: 1.2rem;
  opacity: 0.8;
}

.user-container .user-container-body {
  padding: 1.1rem 2.9rem;
}

.user-container .user-container-body .user-container-body-main-line {
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}

.user-container .user-container-body .row {
  padding: 1.1rem 0;
}

.user-container .user-container-body .row .user-container-body-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-container .user-container-body .row .user-container-body-header .user-container-body-header-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user-container .user-container-body .row .user-container-body-header .user-container-body-header-name {
  color: #4d0c5a;
  font-size: 2.4rem;
  font-weight: 700;
  margin-left: 1.8rem;
  letter-spacing: 0.2px;
}

.user-container .user-container-body .row .user-container-body-main-description {
  font-size: 1.2rem;
  font-weight: 700;
  color: #bfc2d3;
}

.user-container .user-container-body .row .user-container-body-main .form-group {
  position: relative;
  width: 100%;
}

.user-container .user-container-body .row .user-container-body-main .form-group .form-control {
  color: #212020;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 1.1rem 1.6rem;
  border-radius: 4px;
  position: relative;
  border: solid 1px rgba(33, 32, 32, 0.541);
}

.user-container .user-container-body .row .user-container-body-main .form-group .form-control:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.user-container .user-container-body .row .user-container-body-main .form-group .form-control__floating-label {
  position: absolute;
  top: 0%;
  left: 2%;
  padding: 0 0.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #fff;
  color: #212020;
}

.user-container .user-container-body .row .user-container-body-main .form-group .form-group-rearSvg {
  position: absolute;
  top: 50%;
  right: 4%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.user-container .user-container-body .row .user-container-body-main .form-group .form-group-rearSvg:hover {
  cursor: pointer;
}

.user-container .user-container-body .row .login-body-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
}

.user-container .user-container-body .row .login-body-btn-group .nav-link {
  padding: 0.8rem 2.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 32px;
  text-align: center;
}

.user-container .user-container-body .row .login-body-btn-group .nav-link:nth-child(2) {
  margin: 0 3rem;
}

.user-container .user-container-body .row .login-body-btn-group .nav-link-btn {
  color: #fff;
  background-color: #bd10e0;
}

.user-container .user-container-body .row .login-body-btn-group .nav-link-custom {
  border: 1.8px solid #bd10e0;
}

@media screen and (min-width: 900px) {
  .user-container > .user-container-header {
    padding: 1.2rem 13.2rem;
  }
  .user-container > .user-container-header .user-container-header-wrapper .user-container-header-title {
    font-size: 3rem;
  }
  .user-container > .user-container-header .user-container-header-wrapper .user-container-header-description {
    font-size: 1.8rem;
  }
  .user-container > .user-container-body {
    padding: 1.2rem 13.2rem;
  }
  .user-container > .user-container-body-header-name {
    font-size: 3;
  }
  .user-container > .form-group {
    width: 95%;
  }
  .user-container > .nav-link {
    font-size: 1.6rem;
  }
}

.login {
  font-family: "Raleway", sans-serif;
  color: #000;
}

.login .login-header {
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
  line-height: 2;
}

.login .login-body {
  width: 100%;
}

.login .login-body .form-group {
  font-size: 1rem;
  margin: 1.1rem 0;
}

.login .login-body .form-group .login-body-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

.login .login-body .form-group label {
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #6b6c6f;
  font-weight: 700;
  margin-left: 1rem;
}

.login .login-body .form-group .email-group,
.login .login-body .form-group .password-group,
.login .login-body .form-group .conPassword-group,
.login .login-body .form-group .fullName-group,
.login .login-body .form-group .phoneNumber-group {
  position: relative;
}

.login .login-body .form-group .email-group .form-control,
.login .login-body .form-group .password-group .form-control,
.login .login-body .form-group .conPassword-group .form-control,
.login .login-body .form-group .fullName-group .form-control,
.login .login-body .form-group .phoneNumber-group .form-control {
  overflow: hidden;
  padding: 0.9rem 4rem;
  border-radius: 22px;
  font-weight: 700;
}

.login .login-body .form-group .email-group .form-control::-webkit-input-placeholder,
.login .login-body .form-group .password-group .form-control::-webkit-input-placeholder,
.login .login-body .form-group .conPassword-group .form-control::-webkit-input-placeholder,
.login .login-body .form-group .fullName-group .form-control::-webkit-input-placeholder,
.login .login-body .form-group .phoneNumber-group .form-control::-webkit-input-placeholder {
  font-weight: 400;
}

.login .login-body .form-group .email-group .form-control:-ms-input-placeholder,
.login .login-body .form-group .password-group .form-control:-ms-input-placeholder,
.login .login-body .form-group .conPassword-group .form-control:-ms-input-placeholder,
.login .login-body .form-group .fullName-group .form-control:-ms-input-placeholder,
.login .login-body .form-group .phoneNumber-group .form-control:-ms-input-placeholder {
  font-weight: 400;
}

.login .login-body .form-group .email-group .form-control::-ms-input-placeholder,
.login .login-body .form-group .password-group .form-control::-ms-input-placeholder,
.login .login-body .form-group .conPassword-group .form-control::-ms-input-placeholder,
.login .login-body .form-group .fullName-group .form-control::-ms-input-placeholder,
.login .login-body .form-group .phoneNumber-group .form-control::-ms-input-placeholder {
  font-weight: 400;
}

.login .login-body .form-group .email-group .form-control::placeholder,
.login .login-body .form-group .password-group .form-control::placeholder,
.login .login-body .form-group .conPassword-group .form-control::placeholder,
.login .login-body .form-group .fullName-group .form-control::placeholder,
.login .login-body .form-group .phoneNumber-group .form-control::placeholder {
  font-weight: 400;
}

.login .login-body .form-group .email-group .form-group-frontSvg,
.login .login-body .form-group .password-group .form-group-frontSvg,
.login .login-body .form-group .conPassword-group .form-group-frontSvg,
.login .login-body .form-group .fullName-group .form-group-frontSvg,
.login .login-body .form-group .phoneNumber-group .form-group-frontSvg {
  position: absolute;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.login .login-body .form-group .email-group .form-group-rearSvg,
.login .login-body .form-group .password-group .form-group-rearSvg,
.login .login-body .form-group .conPassword-group .form-group-rearSvg,
.login .login-body .form-group .fullName-group .form-group-rearSvg,
.login .login-body .form-group .phoneNumber-group .form-group-rearSvg {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 4%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.login .login-body .form-group .email-group .form-group-rearSvg:hover,
.login .login-body .form-group .password-group .form-group-rearSvg:hover,
.login .login-body .form-group .conPassword-group .form-group-rearSvg:hover,
.login .login-body .form-group .fullName-group .form-group-rearSvg:hover,
.login .login-body .form-group .phoneNumber-group .form-group-rearSvg:hover {
  cursor: pointer;
}

.login .login-body .login-body-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.1rem 0;
}

.login .login-body .login-body-btn-group .nav-link {
  width: 42%;
  padding: 0.68rem 2.4rem;
  border-radius: 22rem;
  font-weight: 700;
  text-align: center;
  font-size: 1.4rem;
}

.login .login-body .login-body-btn-group .nav-link-custom {
  color: #bd10e0;
  border: 0.2rem solid #bd10e0;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.login .login-body .login-body-btn-group .nav-link-custom:hover {
  color: #fff;
  background-color: #bd10e0;
}

.login .login-body .login-body-btn-group .nav-link-custom:hover ~ .nav-link-btn {
  color: #bd10e0;
  border: 0.2rem solid #bd10e0;
  background-color: #fff;
}

.login .login-body .login-body-btn-group .nav-link-btn {
  color: #fff;
  background-color: #bd10e0;
}

@media screen and (min-width: 900px) {
  .login > .login-header {
    font-size: 2.4rem;
  }
  .login >,
  .login .form-group {
    font-size: 1.4rem;
  }
}

.logo .logo-img {
  width: 75%;
}

.logo .logo-title {
  text-transform: uppercase;
  line-height: 1;
  font-size: 0.9rem;
  margin-top: 2.2rem;
  font-weight: 700;
  color: #6b6c6f;
}

@media screen and (min-width: 900px) {
  .logo .logo-title {
    line-height: 2;
    font-size: 1.1rem;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

@media screen and (min-width: 900px) {
  /* section {
      padding: 7.9rem;
    } */
}
/*# sourceMappingURL=index.css.map */